.commandment {
  text-align: center;
}

.commandment_title {
  font-size: 3em;
}

.commandment-welcome {
  background: #e8e8e8;
}

#fp-nav ul li a span {
  border-color: #000;
}

#fp-nav ul li a.active span {
  border-color: #000;
  background: #000;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000000;
}

.sk-spinner.sk-spinner-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}