.commandment {
  text-align: center;
}

.commandment_title {
  font-size: 3em;
}

.commandment-welcome {
  background: #e8e8e8;
}

#fp-nav ul li a span {
  border-color: #000;
}

#fp-nav ul li a.active span {
  border-color: #000;
  background: #000;
}